<%= form_for(@recommendation) do |f| %>
  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% @recommendation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :intention %><br>
    <%= f.select :intention, Recommendation::INTENTIONS %>
  </div>
  <div class="field">
    <%= f.label :by_role %><br>
    <%= f.select :by_role, Recommendation::BY_ROLES %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, User.all.collect {|u| [ u.email, u.id ] } %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br>
    <%= f.select :place_id, Place.all.collect {|p| [ p.name, p.id ] } %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.select :time, Recommendation::TIMES %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.select :day, Recommendation::DAYS %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
