<p id="notice"><%= notice %></p>

<p>
  <strong>Intention:</strong>
  <%= @recommendation.intention %>
</p>

<p>
  <strong>By role:</strong>
  <%= @recommendation.by_role %>
</p>

<p>
  <strong>User:</strong>
  <%= @recommendation.user %>
</p>

<p>
  <strong>Place:</strong>
  <%= @recommendation.place %>
</p>

<p>
  <strong>Day:</strong>
  <%= @recommendation.day %>
</p>

<p>
  <strong>Time:</strong>
  <%= @recommendation.time %>
</p>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
